article+p a {
    color: cadetblue;
}

td[colspan="2"] {
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    text-align: justify;
    line-height: 1.3;
    background-image: url("logo2.png");
}

p {
    text-indent: 2%;
}

ul > li {
    font-weight: bold;
}

table {
    background-color:lightgray;
    padding: 20px;
    margin: 50px;
}

table,td,th {
    border: 3px solid black;
}

header > div#ahoj.surround{
    background-color: yellow;
}

a:hover {
    color: transparent;
}

input:required {
    border: 2px red solid;
} 

.zkouskaFilteru {
    filter: hue-rotate(180deg) saturate(250%);
} 